body {
    font-family: cursive, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
    margin-top: -20px;
    padding: 0;
 
}

h1 {
    font-size: 50px;
    font-weight: bolder;
    color: darkgreen;
}

p {
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bolder;
    margin-top: -40px;
}

#container {
    display: flex;
}

#snake {
    width: 50px;
    height: 50px;
}

#scoreBoard, #timer, #player {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bolder;
    text-align: left;
    width: 250px;
}

#timer {
    text-align: right;
}

#player {
    width: 500px;
    text-align: center;
}

.name {
    font-family: Hansa, cursive, sans-serif;
    font-size: 35px;
    color: red;
 }

#canvas {
    display: flex;
    align-items: center;
    border: 10px solid maroon;
    border-radius: 10px;
    background-color: white;

} 


button {
    font-family: Zeriba, sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    width: 130px;
    height: 30px;
    color: blue;
    border: 3px solid red;
    border-radius: 15px;
    cursor: pointer;
    background-color: yellow;
    margin: 20px;

}

button:hover {
    background-color: rgb(165, 226, 245);
}

button:active {
    background-color: whitesmoke;
}