body {
    font-family: cursive, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: -20px;
    padding: 0;
 
}

h1 {
    font-size: 50px;
    font-weight: bolder;
    color: darkgreen;
}

p {
    font-family: ElgethyUpper, sans-serif;
    font-size: 15px;
    margin-top: -40px;
}

#container {
    text-align:center;
}

#gameBoard {
    border: 10px solid maroon;
    border-radius: 10px;
} 

#scoreBoard {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: bolder;
}

button {
    font-size: 25px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    border: 5px solid red;
    border-radius: 15px;
    cursor: pointer;
    background-color:aqua;
    margin: 20px;

}

button:hover {
    background-color: rgb(165, 226, 245);
}

button:active {
    background-color: whitesmoke;
}